<!Doctype html>
<html lang="en">
    <head>
<title>Flex box</title>
    </head>

    <style>
        .c1{
            border:2px solid rgb(74, 101, 7);
            display:flex;
            height:200px;
            width:635px;
            
           /*justify-content:center;*/
          /*  align-items: center;*/

           /*flex-direction:column;*/
           flex-wrap:wrap;
           align-content: center;

           
           
   
        

        }

        .c2{
            border:2px solid black;
            margin:2px;
            width:30px;
            height:30px;
            background-color: violet;

    
            

        }
        .order-1{
            order:1;
        }

        
    </style>

    <body>

        <div class="c1">
            <div class="c2 item1">1</div>
            <div class="c2 order-1">2</div>
            <div class="c2">3</div>
            <div class="c2">4</div>
            <div class="c2">5</div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
            <div class="c2"> </div>
          
            
            
        </div>

    </body>
</html>
