<!Doctype html>
<html lang="en">
    <head>
        <title>casading alogrithem</title>

        <style>

h2{
    color: violet !important ;
}

#abc{
    color:aquamarine;
}

.orange{
    color:orange;
}

.blue{
    color:blue;
}

.green{
    color:green;
}

        </style>

    </head>



    <body>
    <h2 id="abc" class="green orange blue">student information</h2>
    <h2 style="color:sienna;" class="green orange">employee informaation</h2>
    </body>
</html>
