<!Doctype html>
<html lang="en">
    <head>
  <title>css sizing</title>

  <style>
    /*pixcel */
   .box1{
    margin: 20px auto;
    padding:20px;
    border:2px solid black;
    background-color: bisque;
    width: 2048px;
   }

   html{
    font-size:10px;
   }

   .box2{
    margin: 20px,auto;
    padding:20px;
    border:2px solid black;
    background-color: bisque;
    font-size:20px;
    width:100vw;
    height:20vh;
   }

   .box2 > p{
    /*  font-size:2em; */

    font-size:2rem;
   } 

   .box3{
    margin:20px 20px;
    border:2px solid black;
    background-color: bisque;
    font-size:22px;
    width:80vmin;
    height:20min;
   }

   .box4{

    border:2px solid black;
    background-color: bisque;
    font-size:22px;
    width:80vw;

    min-height:40vh;
    
   }

   .box4 p{
   font-size:50%;
   width:50%;
   }





  </style>

    </head>

    <body>
        <div class ="box1">I ma the content of class box1</div>

            <div class="box2">
                <p> i am the content of p</p> i am the content of div
            </div>

              <div class="box3">i am the content of class box 3 </div> 
              
              <div class="box4">
                i am the content of box4 

                <p> iam the p content Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia quibusdam voluptatibus culpa porro omnis unde aliquam magnam laboriosam dicta molestiae id sit ea fuga dignissimos, placeat cum accusamus. Nemo rerum quibusdam consectetur dolor exercitationem impedit expedita. Nulla odio fugit, ea nobis quaerat repudiandae animi quibusdam dicta consequuntur illo aperiam maiores sit commodi nesciunt inventore ipsum officiis aliquid quas natus neque veniam ad ipsa! Quidem adipisci, nemo assumenda, voluptate quos iste
                     dolore modi inventore est minima odit pariatur aspernatur molestias 
                     accusantium asperiores consequatur culpa cum omnis deleniti nulla 
                     voluptas reprehenderit labore porro incidunt. Necessitatibus saepe cum magn
                     i minus aspernatur itaque iste.</p>
              </div>
    </body>
</html>
