<!Doctype html>
<html>
    <head>
<title>ex-5 solution</title>
<style>
    *{
        margin:0;
        padding:0;
    }

    header{
        position: sticky;
        top:0px;
    }

nav{
    
    background-color: pink;
    height:55px;

    
}

main{
    background-color: black;
    height:75vh;
    padding:15px;

    
}

.c1{
    background-color: green;
    height:55vh;
    padding:22px;
   text-align: center;
    
}

.c2{
    background-color: palevioletred;
    height:50vh;
    width: 40vw;
    margin:0px 8px;
    display:inline-block;
    


}
.c3{
    background-color: blue;
    height: 50vh;
    width:40vw;
    margin:0px 8px;
    display:inline-block;
    
}
.c4{
    margin:15px 27vw;
    padding:10px;
    border:2px solid white;
    width:50%;
    color:white;
    border-radius:10px;
    text-align:center;
    
}

footer{
    margin:70vh;
}
.c5{
    background-color: orange;
    height:12px;
    width:12px;
    border-radius: 13px;
    position:fixed;
    right:24px;
    
}

</style>

    </head>

    <body>

<header>
<nav>

</nav>
</header>
  

  <main>
    <div class="c1">
        <div class="c2"></div>
        <div class="c3"></div>
      

    </div>
    <div class="c4">welcome to web program</div>
    <div class="c5"></div>

  </main>

  <footer>

  </footer>
    </body>
</html>
