<!Doctype html>
<html>
    <head>
<title>object fit and position</title>

<style>
    .container{
        border:2px solid black;
        height:400px;
        width:400px;
        background-color: aquamarine;
    }
    img{
        height:400px;
        width:400px;
     
        object-position:top right;
       /* object-position:10px 10px;*/
       object-fit:cover;
       /* object-fit:contain;*/
    }
</style>
    </head>

    <body>
<div class="container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJqBi4jTOQYfF5cn3Psa2XXsGSoEm1w7dtLA&s" ali="">
</div>
    </body>
</html>
